:root {
  --ouro:        #c9a227;
  --ouro-escuro: #7a601a;
  --fundo:       #0a0808;
  --fundo-2:     #0f0c0c;
  --fundo-card:  #161010;
  --texto:       #d4cbbf;
  --texto-fraco: #6b625a;
  --branco:      #f5f0e8;
}


body {
  background-color: var(--fundo);
  color: var(--texto);
  font-family: 'Sefirada';
  font-size: 18px;
  line-height: 1.75;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; /* o header é fixo, o padding-top serve para que o conteudo nao fique embaixo do header */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none; /* tira a bolinha de listas */
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  padding: 0 48px;
  height: 68px;

  background: #000000e0;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--ouro-escuro);
}

.logo {
  height: 50px;
  width: auto;
  flex-shrink: 0;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav_list a {
  font-family: 'Serifada';
  font-size: 12px;
  font-weight: 400;
  color: var(--texto);
  transition: color 0.2s;
}

.nav_list a:hover {
  color: var(--ouro);
}

.kpis{
  padding: 1000px;
}

/* kpis */
#kpis {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.kpi-card {
  background-color: #c9a227;
  border: 2px solid #7a601a;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.kpi-titulo {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Sefirada';
}

.kpi-valor {
  color: #0a0808;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 700;
}

/* gráfico */
#chart-container {
  background-color: #161010;
  border: 5px solid #c9a22740;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#myChart {
  width: 700px;
  height: 350px ;
}